@import url('../variables.css');
@import url('../globals.css');

header {
    background-color: var(--roxo);
    width: 100%;
    height: 20%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
}

nav > a {
    padding: 2.5rem;
    text-decoration: none;
    color: var(--branco);
    transition: color 0.3s ease;
    will-change: color;
}

nav > a:hover{
    color: var(--laranja);
}