.stories {
    background: #4B0FA5;
    color: white;
    padding: 100px 20px 120px;
    text-align: center;
    border-radius: 0 0 50% 50% / 0 0 15% 15%;
}

.stories-container {
    max-width: 1100px;
    margin: 0 auto;
}

.stories-title {
    font-size: 48px;
    font-weight: 700;
    color: #FFA600;
    margin-bottom: 20px;
}

.stories-subtitle {
    font-size: 28px;
    line-height: 1.6;
    margin-bottom: 60px;
}

.stories-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-bottom: 50px;
}

.stories-button-wrapper {
    margin-top: 40px;
}

.stories-button {
    background: #FFA600;
    color: #4B0FA5;
    padding: 14px 40px;
    border-radius: 25px;
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.stories-button:hover {
    opacity: 0.85;
}

.story-card {
    text-align: center;
    max-width: 260px;
    margin: 0 auto;
    padding: 25px 20px;
    
    background: rgba(255, 255, 255, 0.06);
    border-radius: 20px;

    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);

    transition: transform 0.25s ease, 
                box-shadow 0.25s ease, 
                background 0.25s ease;
}

.story-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.18);
    background: rgba(255, 255, 255, 0.12);
}

.story-img img {
    width: 85px;
    height: 85px;
    object-fit: contain;
    margin-bottom: 20px;
}

.story-name {
    font-size: 22px;
    margin-bottom: 6px;
    color: #FFA600;
    font-weight: 700;
}

.story-heading {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 18px;
    color: #FFCA55;
}

.story-text {
    font-size: 20px;
    line-height: 1.55;
    color: #ffffff;
    opacity: 0.95;
}


@media (max-width: 900px) {
    .stories-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .stories-grid {
        grid-template-columns: 1fr;
    }
}
